
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
<<<<<<< HEAD
  margin: 0px;
  padding: 10px;
=======
  margin: 0;
  padding: 0;
>>>>>>> db457764e033c3b58091dd47029df34d70a31030
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  height: 60vh; /* Altere para ocupar a altura total */
  flex-direction: column;
=======
  height: 84vh;
>>>>>>> db457764e033c3b58091dd47029df34d70a31030
}

.header {
  background-color: #ff0000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center; 
<<<<<<< HEAD
  align-items: center;
  width: 100%;
=======
  align-items: center;
  width: 100%;
}

.logo {
  position: absolute;
  left: 20px;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.header h1{
  margin-right: 30px;
}

.header img{
  margin-left: 20px;
>>>>>>> db457764e033c3b58091dd47029df34d70a31030
}

.logo {
  position: absolute;
  left: 20px;
  width: 150px;
}

.links {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  padding: 10px;
<<<<<<< HEAD
=======
  margin-left: 20px;
  margin-top: 10px;
>>>>>>> db457764e033c3b58091dd47029df34d70a31030
}

.links a {
  text-decoration: none;
  color: red;
  padding: 10px;
  border: 2px solid #ff0000;
  border-radius: 5px;
}

.links a:hover {
  background-color: #ff0000;
  color: white;
}

.container {
  display: flex;
<<<<<<< HEAD
  justify-content: center;
  align-items: center;
  width: 100%; /* Altere para ocupar a largura total */
  height: 100%; /* Adicionado para garantir que o conteúdo seja centralizado verticalmente */
=======
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin-top: 90px; 
>>>>>>> db457764e033c3b58091dd47029df34d70a31030
}

.historico {
  display: flex;
  flex-direction: column; /* Colocar conteúdo em coluna */
  justify-content: center;
  align-items: center;
  width: 30%; /* Ajuste a largura conforme necessário */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputs {
  width: 100%;
  margin-bottom: 20px;
}

.notificacao {
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enviar {
  background-color: #ff0000;
  margin-top: 40px;
}
