
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Altere para ocupar a altura total */
  flex-direction: column;
}

.header {
  background-color: #ff0000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
}

.logo {
  position: absolute;
  left: 20px;
  width: 150px;
  margin-top: -20px;
}

.links {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.links a {
  text-decoration: none;
  color: red;
  padding: 10px;
  border: 2px solid #ff0000;
  border-radius: 5px;
}

.links a:hover {
  background-color: #ff0000;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Altere para ocupar a largura total */
  height: 100%; /* Adicionado para garantir que o conteúdo seja centralizado verticalmente */
}

.historico {
  display: flex;
  flex-direction: column; /* Colocar conteúdo em coluna */
  justify-content: center;
  align-items: center;
  width: 30%; /* Ajuste a largura conforme necessário */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputs {
  width: 100%;
  margin-bottom: 20px;
}

.notificacao {
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enviar {
  background-color: #ff0000;
  margin-top: 40px;
}
