body{
    background-image: url("/Front/src/fundo_branco.svg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #FAFAFA, #FF0000);
    padding: 15px;
}

h1{
    margin-right: 80px;
}

#cardapio{
    display: flex;
    margin: 20px;
}

.diaSemana{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.refeicao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 140px;
    padding: 20px;
    border: solid #9d9d9d 1px;
    font-size: 20px;
}

.campo_comer, .campo_nao_comer, .campo_nao_resp{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;  
} 

.campo_comer{
   color: green;
}

.campo_nao_comer{
    color: red;
}

.campo_nao_resp{
    color: gray;
}