body{
    background-image: url("/Front/src/Fundo_branco.svg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    list-style: none;
}

header {
    background: linear-gradient(to right, #FAFAFA, #FF0000, #FF0000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 17%;
    padding: 20px 30px; 
    box-sizing: border-box;
}
header img {
    height: 60px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}


h1{
    text-align: center;
    align-items: center;
    font-size: 40px;
    color: #FAFAFA;
    margin-right: 70px;
}

.grade-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 1000px;
    margin: 45px;
    padding-left: 230px;
}

.grade-item {
    width: 150px;
    height: 100px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border:5px solid #FF0000;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

/* Tema DARK */
body.dark{
    background-image: url("/Front/src/fundo_preto.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
}

body.dark .grade-container{
    color: white;
}

body.dark a{
    color: white;
}
