body{
    background-image: url("/Front/src/fundo_branco.svg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    background: linear-gradient(to right, #FAFAFA, #FF0000, #FF0000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 17%;
    padding: 10px 30px; 
    box-sizing: border-box;
}

.Sesi-page {
    width: 150px;
    height: 50px;
}

.Lua {
    height: 60px;
    width: auto; 
}

h1{
    margin-right: 80px;
    color: #FAFAFA;
}

#cardapio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 20px 5px 20px;
}

.diaSemana{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.refeicao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 140px;
    padding: 12px;
    border: solid #9d9d9d 1px;
    font-size: 20px;
}

.refeicao_head{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 121px;
    height: 143px;
    padding: 10px;
    font-size: 20px;
}

.campo_comer, .campo_nao_comer, .campo_nao_resp{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;  
} 

.campo_comer{
   color: green;
   font-weight:bold;
}

.campo_nao_comer{
    color: red;
    font-weight:bold;
}

.campo_nao_resp{
    color: gray;
    font-weight:bold;
}

.legenda{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 121px;
}

.qudrado-legenda{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.item-legenda{
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: 10px;
}

/* MODO DARK */
body.dark{
    background-image: url("/Front/src/fundo_preto.svg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    margin: 0;
    padding: 0;
}

body.dark p{
    color: white;
}