<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/Front/src/Sesi-SP.jpg">
  <link rel="stylesheet" href="/Front/styles/central.css">
  <title>Central de Notificações</title>
</head>
<body>

  <div class="header">
    <img src="/Front/src/Sesi-SP.jpg" alt="SESI" class="logo">
    <div class="titulo"><h1>Notificações</h1></div>
  </div>

  <div class="links"> 
    <a href="notificacao.html">Criar Notificação +</a>
  </div>

  <div class="container">
    <div class="historico">
      <h2>Histórico de Notificações</h2>
      <div class="inputs">
        <div class="notificacao">Notificação: Almoço será servido às 12:20h!!</div>
        <div class="notificacao">Notificação: Teremos aula de culinária hoje às 11:30!</div>
        <div class="notificacao">Notificação: Cardápio de hoje: frango grelhado!!</div>
      </div>
    </div>
  </div>

  <script>
    const buttons = document.querySelectorAll('.pressable');

    buttons.forEach(button => {
      button.addEventListener('click', () => {
        button.classList.toggle('pressed');
      });
    });
  </script>
</body>
</html>
