<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="central.css">
  <title>Notificações</title>
</head>
<body>

  <div class="header">
    <img src="Sesi-SP.jpg" alt="SESI" class="logo">
    <div class="titulo"><h1>Notificações</h1></div>
    
  </div>
  <a href="notificacao.html">Criar Notificação +</a>

  <div class="inputs">
    <div class="notificacao">Notificação: Almoço será servido às 12h!!</div>
    <div class="notificacao">Notificação: Aula de culinária hoje às 11:30h!!</div>
    <div class="notificacao">Notificação: Cardápio de hoje: frango grelhado!!</div>
  </div>
  <div class="container">
   
    <div class="grid">
      <button>1º</button>
      <button>2º</button>
      <button>3º</button>
      <button>4º</button>
      <button>5º</button>
      <button>6º</button>
      <button>7º</button>
      <button>8º</button>
      <button>9º</button>
      <button>1ºEM</button>
      <button>2ºEM</button>
      <button>3ºEM</button>
    </div>
  </div>
  <div class="enviar">  <a href="enviar.html">Enviar Notificação</a>
  </div>

</body>
</html>
