<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Front/styles/confirmacao_alunos.css">
    <title>Controle geral dos alunos</title>
</head>
<body>
    <header class="header">
        <img src="/Front/src/Sesi-SP.jpg" alt="Logo">
        <h1>Controle Geral dos Alunos</h1>
    </header>

    <div class="content">
        <table>
            <tr>
                <th>Nomes</th>
                <th>Café da Manhã</th>
                <th>Almoço</th>
                <th>Café da Tarde</th>
            </tr>
            <tr>
                <td>Bruno Augusto G Alves</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>João Pedro Arantes</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Kauê Aloísio Pazote</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Davi Henrique Geraldo</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Maria Julia Magalhães</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Vinicius Fonseca Tavares</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
        </table>
    </div>
</body>
</html>