<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Front/styles/controle_alunospsala.css">
    <link rel="icon" href="/Front/src/logo_barra.png">
    <title>Controle Geral De Aluno</title>
    <header>
        <a href="/Front/templates/Home_mariana.html">
          <img src="/Front/src/Sesi-SP.jpg" class="Sesi-page" "> 
        </a>
        <h1>Controle Geral De Aluno</h1>
        <img src="/Front/src/lua.png" class="Lua" ">
      </header>
</head>
<body class="body_color">
    <main class="grade-container">
      <a href="/Front/templates/Confirmacao_alunos.html">
         <div class="grade-item">1º</div>
      </a>
        <div class="grade-item">2º</div>
        <div class="grade-item">3º</div>
        <div class="grade-item">4º</div>
        <div class="grade-item">5º</div>
        <div class="grade-item">6º</div>
        <div class="grade-item">7º</div>
        <div class="grade-item">8º</div>
        <div class="grade-item">9º</div>
        <div class="grade-item">1º EM</div>
        <div class="grade-item">2º EM</div>
        <div class="grade-item">3º EM</div>
    </main>
</body>
</html>