<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Front/styles/controle_n.css">
    <link rel="icon" href="/Front/src/logo_barra.png">
    <title>Controle geral dos alunos</title>
</head>
<body>
    <header class="header">
        <a href="/Front/templates/Home_mariana.html">
          <img src="/Front/src/Sesi-SP.jpg" class="Sesi-page">
        </a>
        <h1>Controle geral dos alunos</h1>
        <img src="/Front/src/lua.png" class="Lua" id="MudarTema" alt="MudarTema">
    </header>
    <main>
        <div id="cardapio">
            <div class="DiaSemana">
                <div class="refeicao_head">Café</div>
                <div class="refeicao_head">Almoço</div>
                <div class="refeicao_head">Lanche</div>
            </div>
            
        </div>
        <div id="pagina" class="pagina">
            <div class="pagina-conteudo">
                <span class="fechar">&times;</span>
                <div id="pagina-info"></div>
            </div>
        </div>
        <div class="legenda">
            <div class="item-legenda">
                <div class="qudrado-legenda" style="background-color: green;"></div>
                <p>Alunos que vão comer</p>
            </div>

            <div class="item-legenda">
                <div class="qudrado-legenda" style="background-color: red;"></div>
                <p>Alunos que não vão comer</p>
            </div>

            <div class="item-legenda">
                <div class="qudrado-legenda" style="background-color: gray;"></div>
                <p>Alunos que não responderam</p>
            </div>

            <div class="item-legenda">
                <div class="qudrado-legenda" style="background-color: blue;"></div>
                <p>Alunos com dieta especial</p>
            </div>
        </div>
    </main>
</body>
<script src="/Front/js/controle_n.js"></script>
</html>