<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Front/src/logo_barra.png">
    <link rel="stylesheet" href="/Front/styles/GerarRelatorio.css">
    <title>Gerar Relatório</title>
</head>
<body></body>
    <div class="container">
        <div class="header">
            <select>
                <option>Segunda-Feira, 16 de 2024</option>
                <option>Terça-Feira, 17 de 2024</option>
                <option>Quarta-Feira, 18 de 2024</option>
                <option>Quinta-Feira, 19 de 2024</option>
                <option>Sexta-Feira, 20 de 2024</option>
            </select>
        </div>
        
        <div class="buttons">
            <button>Lanche da manhã</button>
            <button class="selected">Almoço</button>
            <button>Lanche da tarde</button>
        </div>

        <div class="stats">
            <div class="stat-item">
                <h3>Total de Alunos</h3>
                <p>750</p>
            </div>
            <div class="stat-item">
                <h3>Vão Comer</h3>
                <p>600</p>
            </div>
            <div class="stat-item">
                <h3>Não vão Comer</h3>
                <p>50</p>
            </div>
            <div class="stat-item">
                <h3>Dieta Especial</h3>
                <p>100</p>
            </div>
            <div class="stat-item">
                <h3>Não Responderam</h3>
                <p>100</p>
            </div>
        </div>

        <div class="aceitacao">
            <h3>Aceitação do Cardápio</h3>
            <div class="icons">
                <span class="icon-check">✔️</span>
                <span class="icon-cross">❌</span>
            </div>
        </div>
    </div>
</body>
</html>
