<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="stylesheet" href="/Front/styles/GerenciamentoAcesso.css">
    <link rel="icon" href="/Front/src/logo_barra.png">
</head>
<body>
    <header>
        <a href="/Front/templates/Home_mariana.html">
          <img src="/Front/src/Sesi-SP.jpg" alt="Logo SESI" class="logo-sesi">
        </a>
        <h2>Agenda</h2>
    </header>
    <div class="teste">
        
<div class="container-tabela" id="fotoCardapio">
    <img src="/Front/src/cardapioTeste.png" alt="Foto_cardapio">
</div>
<div class="container-tabela">
    <table>
        <thead>
            <tr>
                <th>Salas</th>
                <th>Café da Manhã</th>
                <th>Almoço</th>
                <th>Café da Tarde</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3°EM</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>2°EM</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>1°EM</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>9°A</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>9°B</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>9°C</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" onclick="apagarEscolha()">Limpar</button>
    <button type="submit" onclick="alert('Informações Salvas')">Salvar</button>
</div>
</div>

<script src="/Front/js/GerenciamentoAcesso.js"></script>
</body>
</html>