<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="home_mariana.css">
    <title>Menu ADM</title>
</head>
<body>
    <header class="header">
        <img src="/Front/src/Sesi-SP.jpg" alt="Logo">
        <h1>Controle Geral dos Alunos</h1>
        <img src="/Front/src/lua.png" alt="Logo">
    </header>

    <div class="est_main">
        <div class="main_line">
            <a href="/Front/templates/Add_cardapio.html">
                <div class="est_card">
                    <div class="card">
                        <img src="/Front/src/calendario.png" alt="cu" class="img_card">
                    </div>
            </a>
                    <p>Cardápio</p>
                </div>
            <a href="/Front/templates/Controle_alunosN.html">
                <div class="est_card">
                    <div class="card">
                        <img src="/Front/src/grafico-de-barras.png" alt="cu" class="img_card">
                    </div>
            </a>
                    <p>Controle Geral</p>
                </div>
            <a href="">
                <div class="est_card">
                    <div class="card">
                        <img src="/Front/src/notificacoes.png" alt="cu" class="img_card">
                    </div>
            </a>
                    <p>Notificações</p>
                </div>
        </div>
        <div class="main_line">
            <a href="central.html">
                <div class="est_card">
                    <div class="card">
                        <img src="/Front/src/grafico-de-barras.png" alt="vazio" class="img_card">
                    </div>
            </a>
                    <p>Gerenciamento de alunos</p>
                </div>
            <a href="">
                <div class="est_card">
                    <div class="card">
                        <img src="/Front/src/desbloquear.png" alt="cu" class="img_card">
                    </div>
            </a>
                    <p>Gerenciamento de acesso</p>
                </div>
            <a href="">
                <div class="est_card">
                    <div class="card">
                        <img src="/Front/src/desbloquear.png" alt="cu" class="img_card">
                    </div>
            </a>
                    <p>Carlos</p>
                </div>
        </div>
    </div>
</body>
<script src="script.js"></script>
</html>