<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Front/src/logo_barra.png">
    <link rel="stylesheet" href="/Front/styles/menu.css">
    <title>MENU</title>
</head>
<body>
    <header>
        <img src="/Front/src/Sesi-SP.jpg" alt="Logo SESI" class="logo-sesi">
        <img src="/Front/src/lua.png" alt="Lua" id="MudarTema" class="icon-lua">
    </header>
    <main>
        <div class="container">
            <a href="./Cardapio.html" class="menu-item">
                <div>
                    <img src="/Front/src/cardapio.png" alt="" class="menu-icon" id="cardapio-icon">
                    <p>Cardápio</p>
                </div>
            </a>
            <a href="/Front/templates/Perfil.html" class="menu-item">
                <div>
                    <img src="/Front/src/Configuracao-Preta (1).png" alt="Configurações" class="menu-icon" id="config-icon">
                    <p>Configurações</p>
                </div>
            </a>
        </div>

        <div class="notificacao">
            <img src="/Front/src/notificacao.png" alt="Campainha" class="notificacao-icon">
            <p>Hoje teremos bolo de abobrinha!!!</p>
            <p>Veja como é preparado <a href="https://www.tudogostoso.com.br/receita/23-bolo-de-cenoura.html"><span>CLIQUE AQUI</span></a></p>
        </div>

        <div class="notificacao">
            <img src="/Front/src/notificacao.png" alt="Campainha" class="notificacao-icon">
            <p>Desperdício da última semana:</p>
            <p>O desperdício foi 13 quilos de alimento com arroz sendo o mais desperdiçado.</p>
        </div>
    </main>
    <script src="/Front/js/menu.js"></script>
</body>
</html>
