<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/Front/styles/notificacao.css">
<title>Criar Notificação</title>
</head> 
<body>
<div class="header">
    <img src="/Front/src/Sesi-SP.jpg" alt="SESI Logo"> 
</div>
<div class="links">
    <a href="central.html">Voltar</a>
</div>

<div class="content">
    <div class="links2">
        <a href="central.html">Enviar</a>
    </div>
    <input type="text" class="input-box" placeholder="Digite aqui...">
</div>

</body>
</html>

